<a href="https://colab.research.google.com/github/honggilgim/python_test_with_colab/blob/main/%EB%B6%84%EC%84%9D%EB%AA%A8%ED%98%95_%EC%9D%91%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dataset = [['Milk','Cookie','Apple','Beans','Eggs','Yogurt'],
           ['Coke','Cookie','Apple','Beans','Eggs','Yogurt'],
           ['Milk','Apple','Kidney Beans','Eggs'],
           ['Milk','Orange','Corn','Beans','Yogurt'],
           ['Corn','Cookie','Cookie','Beans','Ice cream','Eggs']]

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns = te.columns_)
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [5]:

import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)
frequent_itemsets

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Eggs, Apple)
7       0.6        (Beans, Cookie)
8       0.6          (Beans, Eggs)
9       0.6        (Beans, Yogurt)
10      0.6         (Eggs, Cookie)
11      0.6  (Eggs, Beans, Cookie)

In [6]:
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x)) # 길이 변수 생성
frequent_itemsets

    support               itemsets  length
0       0.6                (Apple)       1
1       0.8                (Beans)       1
2       0.6               (Cookie)       1
3       0.8                 (Eggs)       1
4       0.6                 (Milk)       1
5       0.6               (Yogurt)       1
6       0.6          (Eggs, Apple)       2
7       0.6        (Beans, Cookie)       2
8       0.6          (Beans, Eggs)       2
9       0.6        (Beans, Yogurt)       2
10      0.6         (Eggs, Cookie)       2
11      0.6  (Eggs, Beans, Cookie)       3

길이 생성 이유는, 이런 조건문에 사용하기 위해서.
조건문은, 길이가 2 이상이고 서포트가 0.6 이상인 것을 뽑아냄.

In [7]:
frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6)]

    support         itemsets  length
6       0.6    (Eggs, Apple)       2
7       0.6  (Beans, Cookie)       2
8       0.6    (Beans, Eggs)       2
9       0.6  (Beans, Yogurt)       2
10      0.6   (Eggs, Cookie)       2

association_rules 함수 사용 : 데이터프레임을 입력, 기본값, 향상도 등을 조건으로 사용, 각 메트릭스 별 최솟값을 지정하고 기본값 지정. Aprori 결과에서 패턴 발견, 이 때 최소 신뢰도는 0.7

In [8]:
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
1,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
2,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
4,(Beans),(Eggs),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8
5,(Eggs),(Beans),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8
6,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
7,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
8,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
9,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
10,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf
11,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
12,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
13,(Eggs),"(Beans, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
14,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
15,(Cookie),"(Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf

In [9]:
rules2 = association_rules(frequent_itemsets, metric = "lift",min_threshold = 1.2)
rules2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
1,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
2,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
4,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
5,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
6,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
7,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
8,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf
9,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
10,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
11,(Eggs),"(Beans, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
12,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
13,(Cookie),"(Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf

In [11]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x : len(x))

새로운 칼럼으로 갯수를 추가하고, 그것을 이용하여 조건문을 사용.

In [12]:
rules[(rules['antecedent_len'] >= 2) & (rules['confidence'] > 0.75) & (rules['lift'] > 1.2)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
10,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.0,1.666667,0.24,inf,2
11,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.0,1.250000,0.12,inf,2
12,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.0,1.250000,0.12,inf,2